Repository VirtualLiveLab/js-config, pull requests merged in 2024-12, with the labels that each got.

#346 hono プリセットが暗黙的に cloudflare workers ランタイムを前提としていたのをやめる
  packages/tsconfig/hono.json
Labels: tsconfig

#347 fix: remove cloudflare workers type from optional peer deps
  packages/tsconfig/package.json
Labels: tsconfig

#345 新しすぎるcompilerOptionsを落とす
  packages/tsconfig/base.json
Labels: tsconfig

#349 fix: [VLL-DEV-34] peerDependenciesの指定を緩める
  packages/eslint-config/package.json
  packages/prettier-config/package.json
  packages/stylelint-config/package.json
  packages/tsconfig/package.json
Labels: eslint, prettier, stylelint, tsconfig

#350 PR からスナップショットを更新する際にラベルを用いる
  .github/workflows/update-snapshot.yml
Labels: update-snapshot
